@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 24px;
}
.footer {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(243, 4, 4, 0.281);
}
.header {
  position: absolute;
  top: 16px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  
  
}
li {
  list-style: none;
  color: rgb(235, 79, 7);
  backface-visibility: 50%;
}