.header  {
  font-family: monospace;
  background: rgb(6, 201, 38);
  display: flex;
  justify-content: space-between;
  gap: 0px;

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: rgb(238, 102, 23);
  background: white;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}