



body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  height: 5cm;
}

.title {
  background: #e3f4ff;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding top: ;: 10px;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 16px;
  margin: 16px;
  cursor: pointer;

}